<div class="flex w-full flex-auto flex-col">

    <!-- Main -->
    <!-- CONTENT GOES HERE -->
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8">
        <!-- Loader -->
        @if (isLoading) {
        <div class="absolute inset-x-0 bottom-0">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        }
        <!-- Title -->
        <div>
            <h2 class="text-3xl font-semibold leading-8 tracking-tight">
                Areas
            </h2>
        </div>
        <!-- Actions -->
        <div class="mt-6 flex flex-col sm:flex-row items-stretch sm:items-center gap-4">
            <!-- Select de Organización -->
            <mat-form-field class="fuse-mat-dense min-w-64 sm:mr-4" style="flex: 1;">
                <mat-label>Organización</mat-label>
                <mat-select [formControl]="organizacionControl" (selectionChange)="onOrganizacionChange($event.value)">
                    <mat-option [value]="'0'">Todas</mat-option>
                    <mat-option *ngFor="let org of organizaciones" [value]="org.id">
                        {{ org.nombre }}
                    </mat-option>

                </mat-select>
            </mat-form-field>

            <!-- Búsqueda -->
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'"
                style="flex: 2;">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input matInput [formControl]="searchInputControl" autocomplete="off" placeholder="Buscar" />
            </mat-form-field>

            <!-- Botón de nuevo -->
            <button class="sm:ml-4" mat-flat-button color="primary" (click)="nueva()">
                <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
                <span class="ml-2 mr-1">Nuevo</span>
            </button>
        </div>

        <!-- Tabla de Organizaciones -->
    </div>

    <div class="p-4">
        <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-3 ">
            <div class="mt-8 grid w-full grid-cols-1 gap-8 xl:grid-cols-1" style="margin-top: 0px !important;">
                <!-- Recent transactions table -->
                <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow xl:col-span-2">
                    <div class="mx-6 overflow-x-auto">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full" *ngIf="!isLoading">
                            <!-- Nombre Column -->
                            <ng-container matColumnDef="organizacion">
                                <th mat-header-cell *matHeaderCellDef>Organización</th>
                                <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
                            </ng-container>

                            <ng-container matColumnDef="clave">
                                <th mat-header-cell *matHeaderCellDef>Clave</th>
                                <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
                            </ng-container>

                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                                <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
                            </ng-container>

                            <ng-container matColumnDef="responsable">
                                <th mat-header-cell *matHeaderCellDef>Responsable</th>
                                <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
                            </ng-container>

                            <ng-container matColumnDef="telefono">
                                <th mat-header-cell *matHeaderCellDef>Telefono</th>
                                <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
                            </ng-container>

                            <ng-container matColumnDef="activo">
                                <th mat-header-cell *matHeaderCellDef>Activo</th>
                                <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
                            </ng-container>

                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                    </div>
                </div>


            </div>

        </div>






    </div>