<!-- Github issues summary -->
<div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow sm:col-span-2 md:col-span-4">
   
   <div class="mt-8 grid w-full grid-cols-1 gap-6 sm:mt-4 lg:grid-cols-1">
    <!-- New vs. Closed -->
    <div class="flex flex-col w-full">
        
        <div class="w-full">
            <apx-chart
                class="w-full"
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis"
                [dataLabels]="chartOptions.dataLabels"
                [title]="chartOptions.title"
                [legend]="chartOptions.legend"
                [fill]="chartOptions.fill"
                [yaxis]="chartOptions.yaxis"
                [tooltip]="chartOptions.tooltip">
            </apx-chart>
        </div>
    </div>
</div>
</div>